{% extends "Base.html.twig" %}

{% block content %}
  
  <div id="flex-contfainer" class="container">
    <h2>Un billet simple pour l'Alaska </h2>
    </br>
    <h4>SOMMAIRE</h4>
    {% for article in articles %}
      <div class="row">
        <div class="element col-lg-10"> 
          <a href="article?articleId={{ article.id }}" class="text-muted"> 
            <h3> {{ article.title }} 
              <small> {{ article.date | date("m/d/Y") }} </small>  ->
              <small class="text-muted">Lire</small>
            </h3>
            <p><i> {{ article.content[:100]|raw }}... </i></p>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}



{##}