<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Jean Forteroche</title>

    <!-- Bootstrap -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="http://cloud.tinymce.com/stable/tinymce.min.js?apiKey=f4rad3g9gwny15k0iqp1aysmaxox4oh53fyu6p1jf7mvz68g"></script>
  </head>

  <body>

  <div class="container-fluid background-home" style="padding:0">
    <div class="col-lg-12" style="padding:0">

    {% block sidebar %}

    
      <div id="wrapper" class="toggled">

  <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand" style="padding:5px">
          <a href="/" class="pull-right">
            <img src="/img/mikehorn.png" class="pull-left" style="width:80%;margin-left: 19px; margin-bottom: 30px; margin-top:19px">
          </a>
        </li>
        <li>
          <h3><a class="size" href="/"> Home </a></h3>
        </li>
        <li>
          <h3><a class="size" href="/articles">Chapitres</a></h3>
        </li>
        {% if role == 0 %}
        <li>
          <h3><a class="size" href="/session/register">Enregistez-vous</a></h3>
        </li>
        <li>
          <h3><a class="size" href="/session/login">Connectez-vous</a></h3>
        </li>
        {% endif %}
        {% if role > 0 %}
        <li>
          <h3><a class="size" href="/session/logout">Déconnexion</a></h3>
        </li>
        {% endif %}
        {% if role == 2 %}
        <li>
          <h3><a class="size" href="/dashboard">Dashboard</a></h3>
        </li>
        {% endif %}
      </ul>
    </div> 

    {% set flash = session.flash %}
    {% if flash.message != '' %}
      <div class="animation alert alert-{{ flash.type }}" role="alert">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>{{ flash.message|raw }}</p>
      </div> 
    {% endif %}

    {% endblock %}

    {% block content %}


    {% endblock %}

    {% block javascript %}


    {% endblock %}

    </div>
  </div>
  </body>
</html>