{% extends "BaseDashboard.html.twig" %}

{% block content %}

<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row" style="margin-bottom: 50px">
      <div class="col-lg-12">
        <h1> Editer l'article {{ article.title }} </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <form action="/dashboard/article/edit" method="post">
              <table class="table table-hover">
                <input type="hidden" name="id" value="{{ article.id }}">
                <tr>
                  <th style="vertical-align: middle">
                    Titre : 
                  </th>
                  <td>
                    <input type="text" name="title" size=128 value="{{ article.title }}">
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <input id="article" name="content" value="{{ article.content }}">
                    <input class="btn btn-primary pull-right" style="margin-top:20px" type="submit" value="Enregistrer">
                  </td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

  <script>

  tinymce.init({
    selector: '#article'
  });

  </script>

{% endblock %}